<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>
            Menu
        </ion-title>
        <ion-buttons left>
            <button ion-button icon-only (click)="closeModal()">
                <svg class="feather">
                    <use xlink:href="assets/icon/feather-sprite.svg#arrow-left"/>
                </svg>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToBag();">
                <svg class="feather">
                    <use xlink:href="assets/icon/feather-sprite.svg#shopping-bag" />
                </svg>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
 <div class="container">
        <ion-col class="header" (click)="getProductList('Sandwichs')">
            <h1>Sandwichs</h1>
            <h3>Voir tout</h3>
        </ion-col>
        <ion-slides>
            <ion-col col-33 *ngFor="let product of listSandwichs"> 
                <div class="card card-1" (click)="goToProduct(product.products);">
                    <img src="{{product.image}}">
                </div>
                <h4>{{ product.productName }}</h4>
                <p>{{ product.productFormattedPrice }}</p>
            </ion-col>
        </ion-slides>
        
      <ion-col class="header" (click)="getProductList('Pates')">
          <h1>Pâtes</h1>
           <h3>Voir tout</h3>
       </ion-col>
 <ion-slides pager="true">
     <ion-item>
     <ion-row>
       <ion-item no-lines text-wrap>
       <ion-slides>
         <ion-col col-33 *ngFor="let product of listPates">
           <div class="card card-1" (click)="goToProduct(product.products);">
               <img src="{{product.image}}">
             </div>
               <h4>{{ product.productName }}</h4>
               <p>{{ product.productFormattedPrice }}</p>
         </ion-col>
       </ion-slides>
     </ion-item>
       </ion-row>
   </ion-item>
 </ion-slides>

 <ion-col class="header" (click)="getProductList('Boissons')">
     <h1>Boissons</h1>
      <h3>Voir tout</h3>
  </ion-col>
<ion-slides pager="true">
<ion-item>
<ion-row>
  <ion-item no-lines text-wrap>
  <ion-slides>
    <ion-col col-33 *ngFor="let product of listBoissons">
      <div class="card card-1" (click)="goToProduct(product.products);">
          <img src="{{product.image}}">
        </div>
          <h4>{{ product.productName }}</h4>
          <p>{{ product.productFormattedPrice }}</p>
    </ion-col>
  </ion-slides>
</ion-item>
  </ion-row>
</ion-item>
</ion-slides>


</div>
</ion-content>
