<ion-header>
    <ion-navbar class="grey">
        <ion-title>
            Paiement
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row>
            <cart-progress amount=3 current=2></cart-progress>
        </ion-row>
    </ion-grid>
    <ion-grid padding>
        <ion-row>
            <h4>Code promo ?</h4>
        </ion-row>
        <ion-row>
            <ion-col class="promo">
                <ion-input placeholder="Entre le code" class="rounded" [(ngModel)]="promoCode"></ion-input>
            </ion-col>
            <ion-col col-3>
                <button ion-button block round icon-end (click)="applyPromoCode();">
                    Appliquer
                    <svg class="feather">
                        <use xlink:href="assets/icon/feather-sprite.svg#arrow-right" />
                    </svg>
                </button>
            </ion-col>
        </ion-row>
        <ion-row  *ngIf="canMakePayment">
            <h4>Cliquez sur la méthode de paiement</h4>
        </ion-row>
        <ion-row *ngIf="selectedPaymentMethod == 'bancontact'" align-items-center>
            <ion-col col-6>
                <ion-card>
                    <img src="../../assets/imgs/bancontact-logo.png">
                    <ion-card-content>
                        <ion-card-title>
                            Payer par Bancontact
                        </ion-card-title>
                        <p>
                            Payez avec votre application bancontact préférée de manière instantanée et entièrement 
                            sécurisée.
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>